* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-black: #030712;
  --primary-white: #f9fafb;
  --secondary-white: #f3f4f6;
  --button-white: #e5e7eb;
  --button-black: #1f2937;
  --shadow: #9ca3af;
  --grey-font: #6b7280;
}

#books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

body {
  background-color: var(--primary-white);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-left: 1px solid var(--primary-black);
  max-width: 1600px;
  margin: 0 auto;
  color: #030712;
  overflow-x: hidden;
}

.book {
  background-color: var(--secondary-white);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--primary-black);
  border-bottom: 1px solid var(--primary-black);
  align-items: center;
  position: relative;
}

.book-info {
  background-color: var(--primary-white);
  padding: 24px 24px;
  border-top: 1px solid black;
  width: 100%;
}

.book-cover {
  height: 20rem;
  object-fit: cover;
  margin: 64px 24px;
  box-shadow: 0px 4px 16px var(--shadow);
  margin-bottom: 64px;
  border-radius: 4px;
  opacity: 0;
  transform: translateX(10rem);
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

.book-title {
  font-size: 1.5rem;
  height: 4rem;
  width: 16rem;
}

.title-pages {
  display: flex;
  justify-content: space-between;
}

.book-pages {
  font-size: 1.5rem;
  align-self: flex-start;
}

.status {
  border: 1px solid var(--primary-black);
  padding: 4px 8px;
  font-weight: 600;
  margin-bottom: 24px;
  align-self: flex-start;
  margin-left: 24px;
}

.book-author {
  color: var(--grey-font);
  font-weight: 400;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.pages-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--grey-font);
}

.pages-container > img {
  align-self: flex-start;
  margin-top: 0.35rem;
}

select {
  background-color: var(--primary-white);
  border: none;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 1.5rem;
  width: 144px;
}

select:focus {
  outline: none;
}

.filters {
  display: flex;
  align-items: center;
  gap: 64px;
}

.add-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  padding: 8px 16px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 4px px var(--shadow);
  height: 5rem;
  width: 10rem;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.add-button:hover {
  background-color: var(--button-black);
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--primary-black);
  border-right: 1px solid var(--primary-black);
  padding-left: 5rem;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-black);
  border-right: 1px solid var(--primary-black);
}

.search-bar-container p {
  font-size: 2rem;
  font-weight: 400;
  align-self: center;
  padding-left: 5rem;
}

.search-bar-container input {
  width: 32rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-indent: 1rem;
  background-color: var(--primary-white);
  border: 1px solid var(--grey-font);
  border-top: none;
  border-bottom: none;
  height: 5rem;
  border-right: none;
}

.search-bar-container input:focus {
  outline: none;
}

.search-bar-container input::placeholder {
  text-indent: 1rem;
}

.search-bar {
  align-items: center;
  display: flex;
}

.search-bar > button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 5rem;
  padding: 4px 4px;
  background-color: var(--primary-white);
  border: none;
  border-left: 1px solid var(--grey-font);
  transition: 0.2s ease-in-out;
}

.search-bar > button:hover {
  background-color: var(--button-white);
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--primary-black);
  height: 5rem;
  align-items: center;
  border-right: 1px solid var(--primary-black);
}

footer {
  display: flex;
  justify-content: center;
  gap: 20rem;
  font-size: 1.5rem;
  padding-top: 4rem;
  border-right: 1px solid var(--primary-black);
  padding-bottom: 4rem;
}

footer > div > p {
  margin-bottom: 0.5rem;
  color: var(--grey-font);
}

.logo {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  flex-direction: column;
  z-index: 3;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-black);
  box-shadow: 4px 24px 16px #0307124f;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.darken {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #03071213;
  left: 0;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(4px);
  display: none;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.modal-header {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-black);
  background-color: var(--secondary-white);
}

.modal-header > p {
  font-size: 2rem;
  margin-left: 2rem;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-header > button {
  border: none;
  border-left: 1px solid var(--primary-black);
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary-white);
  transition: 0.2s ease-in-out;
}

.modal-header > button:hover {
  background-color: #e5e7eb;
}

#modal > input {
  height: 5rem;
  text-indent: 2rem;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-white);
}

#modal > input:focus {
  outline: none;
}

#modal > input::placeholder {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.author-pages > input {
  height: 5rem;
  text-indent: 2rem;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.author-pages > input:focus {
  outline: none;
}

.title-input {
  border: none;
}

.author-pages {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--primary-black);
}

.author-input {
  flex: 2;
  border: none;
  background-color: var(--primary-white);
}

.pages-input {
  border: none;
  border-left: 1px solid var(--primary-black);
  background-color: var(--primary-white);
  flex: 1;
}

.url-input {
  border: none;
  border-top: 1px solid var(--primary-black);
  border-bottom: 1px solid var(--primary-black);
}

.read-input {
  width: 2rem;
  height: 2rem;
}

.checkbox {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  align-self: center;
  padding: 1.5rem 2rem;
}

#modal > button {
  font-size: 1.5rem;
  padding: 8px 16px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 4px px var(--shadow);
  height: 5rem;
  width: 100%;
  justify-content: center;
  transition: 0.2s ease-in-out;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#modal > button:hover {
  background-color: var(--button-black);
}
